.dwg-intro-bg {
    background-image: url(https://www.dropbox.com/s/siv4pagvyg7rubt/background-small.jpeg?raw=1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
    height: 100%;

    .dwg-intro-caption {
        width: 512px;
        margin: 220px auto 0px auto;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        border-radius: 16px;
        box-shadow: 5px 5px 3px black;
        text-align: center;

        @media #{$small-screen} {
            width: 90%;
        }

        .dwg-intro-heading {
            display: block;
            margin: 8px;
            font-family: "Source Serif Pro", serif;
            font-size: 48px;
            font-weight: bold;

            @media #{$small-screen} {
                font-size: 32px;
            }
        }

        .dwg-intro-subheading {
            display: block;
            margin: 8px 0px;
            font-size: 20px;
            font-style: italic;

            @media #{$small-screen} {
                font-size: 16px;
            }
        }

        .dwg-intro-button {
            display: block;
            width: 192px;
            margin: 32px auto 8px auto;
            padding: 8px;
            font-size: 20px;
            text-decoration: none;
            color: white;
            border: 2px solid white;
            border-radius: 16px;
            background-color: transparent;

            @media #{$small-screen} {
                padding: 4px;
                font-size: 16px;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
                cursor: pointer;
            }
        }
    }
}